Agente SQL. Version.1.json
{
  "name": "Agente gotagota",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        80
      ],
      "id": "f8f88d53-1881-451c-a059-9d1a4423988f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "m9lIdPM4WuNnTnP3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "kz0D2Y90dildMEK7",
          "mode": "list",
          "cachedResultName": "Buffer",
          "cachedResultUrl": "/projects/E0tCYP2PvpmtbAKj/datatables/kz0D2Y90dildMEK7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario_id": "={{ $json.message.from.id }}",
            "mensaje": "={{ $json.message.text }}",
            "timestamp": "={{ $now.toString()}}",
            "estado": "pendiente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1824,
        -272
      ],
      "id": "687452a4-46a0-4a5b-9d8f-8862f1c52845",
      "name": "Insert row"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2016,
        -272
      ],
      "id": "2b524583-b437-4ba0-8294-1c98ad141dc5",
      "name": "Al recibir un mensaje",
      "webhookId": "0f6139d1-a66a-4cda-ae13-4b2a8cae6644",
      "credentials": {
        "telegramApi": {
          "id": "dWurhXGNp5HaWRAb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "kz0D2Y90dildMEK7",
          "mode": "list",
          "cachedResultName": "Buffer",
          "cachedResultUrl": "/projects/E0tCYP2PvpmtbAKj/datatables/kz0D2Y90dildMEK7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "procesando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1632,
        -272
      ],
      "id": "5f7043be-41a0-41d5-94da-5e8518ba4e40",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e131ab11-bbad-4c85-bb6d-c54b4adee293",
              "leftValue": "={{ $json.estado === \"procesando\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        -272
      ],
      "id": "56d9f9aa-9b4a-4796-8a05-323b8fc0cbef",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "kz0D2Y90dildMEK7",
          "mode": "list",
          "cachedResultName": "Buffer",
          "cachedResultUrl": "/projects/E0tCYP2PvpmtbAKj/datatables/kz0D2Y90dildMEK7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').item.json.id }}"
            },
            {
              "keyName": "estado",
              "keyValue": "pendiente"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "estado": "procesando"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario_id",
              "displayName": "usuario_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -256
      ],
      "id": "354cc3cf-88ac-4335-b581-c6bb2eb8e05e",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje_completo }}",
        "options": {
          "systemMessage": "You are a business assistant helping users access information.\n\nYou have been tasked with answering a question using information from the database.\n\nBefore querying the database, you should use the \"Get Tables, Schemas, Columns, and Foreign Keys\" tool to identify the most relevant tables and fields.\n\nThis tool will reference foreign keys.\n\nYou can use these to construct JOIN statements as needed to reduce the number of SQL commands. You must ensure you follow the correct relationships between foreign keys to obtain accurate results.\n\nWhen applying WHERE clauses, you should first run SELECT DISTINCT (LIMIT 100) queries on the relevant fields to understand the valid options. This applies even if the user provides a specific value; you must verify that the value exists in the data before using it.\n\nDo NOT run SELECT DISTINCT queries on ID columns.\n\nAfter obtaining the complete database context, execute a query using the \"Ejecutar query en Postgres\" tool to retrieve the information requested by the user and provide a coherent response.\n\nCASE SENSITIVITY (VERY IMPORTANT): In PostgreSQL, you MUST ALWAYS enclose table and column names in double quotes (\"\") if they contain any uppercase letters; otherwise, they will result in an error. - ❌ INCORRECT: SELECT id_cliente FROM Prestamo WHERE CuotasAtrasadas > 0\n- ✅ CORRECT: SELECT \"id_cliente\" FROM \"Prestamo\" WHERE \"CuotasAtrasadas\" > 0\nAll tables such as \"Empresa\", \"Rutas\", \"Clientes\", \"Prestamo\", \"Cuotas\", \"Gastos\", \"Inyeccion\", \"Movimiento\", \"Usuarios\", \"UbicacionesCobro\" MUST be enclosed in double quotes.\n\nYour goal is to provide an accurate answer based SOLELY on this information. Your objective is to construct a single SQL query to join all relevant tables for the required data, unless you need the SQL queries to return distinct values.\n\nIf you cannot answer the question with the provided information, or if no information is returned from the vector store, say:\n\n\"Sorry, I don't understand.\"\n\nAlways provide answers in clear Spanish.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -256
      ],
      "id": "b60197c8-8c19-448d-92d0-a1274b658619",
      "name": "Analista de Datos"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "kz0D2Y90dildMEK7",
          "mode": "list",
          "cachedResultName": "Buffer",
          "cachedResultUrl": "/projects/E0tCYP2PvpmtbAKj/datatables/kz0D2Y90dildMEK7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_id",
              "keyValue": "={{ $json.usuario_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1008,
        -256
      ],
      "id": "d986ab98-5312-49b7-8ad7-cf562a6e76ea",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "jsCode": "\nconst mensajes = items.map(i => i.json);\n\n// Ordenar por timestamp ascendente\nmensajes.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\n// Calcular diferencia con el último mensaje\nconst ultimo = mensajes[mensajes.length - 1];\nconst tiempoUltimo = new Date(ultimo.timestamp).getTime();\nconst tiempoActual = Date.now();\nconst diferencia = tiempoActual - tiempoUltimo;\n\nreturn [{\n  json: {\n    mensajes,\n    usuario_id: mensajes[0]?.usuario_id || null,\n    diferencia_ms: diferencia\n  }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -256
      ],
      "id": "07fcb92f-98b2-4437-ae0c-41101e6793ec",
      "name": "Ordenar mensajes"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -512,
        -224
      ],
      "id": "9748e590-1ec8-40c5-9c82-08efb7aac824",
      "name": "Wait",
      "webhookId": "1b86c786-f1c7-428f-a6f5-11229eef41f6"
    },
    {
      "parameters": {
        "jsCode": "const mensajes = $json.mensajes.map(m => m.mensaje);\nreturn [{\n  json: {\n    usuario_id: $json.usuario_id,\n    mensaje_completo: mensajes.join(' ')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -384
      ],
      "id": "8ec10af6-5d88-44ed-be1a-8f0f33f1d4f4",
      "name": "concatenar"
    },
    {
      "parameters": {
        "chatId": "={{ $('Al recibir un mensaje').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -208
      ],
      "id": "fb87c2ef-7913-48cc-afea-4ddabd6922a3",
      "name": "Send a text message",
      "webhookId": "07334da3-afec-4ccd-a49b-19d2825a9289",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "dWurhXGNp5HaWRAb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -288,
        -304
      ],
      "id": "a1c7f976-dd29-4dff-be1b-6d2ff73429a8",
      "name": "Fusionar"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "kz0D2Y90dildMEK7",
          "mode": "list",
          "cachedResultName": "Buffer",
          "cachedResultUrl": "/projects/E0tCYP2PvpmtbAKj/datatables/kz0D2Y90dildMEK7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "usuario_id",
              "keyValue": "={{ $json.usuario_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -416,
        -448
      ],
      "id": "a50042fd-4d04-46a1-a718-4fc3e9798450",
      "name": "Eliminar Filas"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.diferencia_ms }}",
                    "rightValue": 15000,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "6a56dba7-bcc4-400b-8851-360c5d15ea5c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "procesar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc38d951-6802-4f3f-a7ea-1547cd29edcb",
                    "leftValue": "={{ $json.diferencia_ms }}",
                    "rightValue": 15000,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regresar"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        -256
      ],
      "id": "1cf50d80-b3e3-41f3-a404-b36fd0c99fa4",
      "name": "Elegir Ruta"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Al recibir un mensaje').item.json.message.chat.id }}",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "591c08d6-7fc5-4563-ae43-9a3e725c8c59",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "6qU3qd7eJwkp1usu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool to get available tables and fields",
        "workflowId": {
          "__rl": true,
          "value": "CUa4nEMnRwLpgQJF",
          "mode": "list",
          "cachedResultUrl": "/workflow/CUa4nEMnRwLpgQJF",
          "cachedResultName": "Get tables, schemas, foreign keys"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        160,
        48
      ],
      "id": "a124686c-d789-450c-8f52-512469d689e9",
      "name": "Get tables, schemas, foreign keys"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query')}}",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        464,
        48
      ],
      "id": "de6ba178-7aa2-4ba4-874c-483068ed8807",
      "name": "Ejecutar query en Postgres",
      "credentials": {
        "postgres": {
          "id": "6qU3qd7eJwkp1usu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool to get available tables and fields",
        "workflowId": {
          "__rl": true,
          "value": "XO9nlZaoFFXnlEUu",
          "mode": "list",
          "cachedResultUrl": "/workflow/XO9nlZaoFFXnlEUu",
          "cachedResultName": "Obtener cliente, empresa, ruta y clientes asociados"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        320,
        32
      ],
      "id": "ad4f7db9-681f-4080-8016-ea886b09669d",
      "name": "Get cliente, empresa, ruta y clientes asociados"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analista de Datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Al recibir un mensaje": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Ordenar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar mensajes": {
      "main": [
        [
          {
            "node": "Elegir Ruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concatenar": {
      "main": [
        [
          {
            "node": "Eliminar Filas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fusionar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analista de Datos": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionar": {
      "main": [
        [
          {
            "node": "Analista de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Filas": {
      "main": [
        [
          {
            "node": "Fusionar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elegir Ruta": {
      "main": [
        [
          {
            "node": "concatenar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Analista de Datos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Get tables, schemas, foreign keys": {
      "ai_tool": [
        [
          {
            "node": "Analista de Datos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar query en Postgres": {
      "ai_tool": [
        [
          {
            "node": "Analista de Datos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get cliente, empresa, ruta y clientes asociados": {
      "ai_tool": [
        [
          {
            "node": "Analista de Datos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "13bba8ef-5e4b-43b2-ac8a-2c46005d9059",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e314238cfa0d016c71bd570a318e59fccea41b7e676298257b77517a6f5e650d"
  },
  "id": "FpwxWRVsrrA0rOi4",
  "tags": []
}